<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=endge" http-equiv="X-UA-Compatible"/>
    <meta content="This is a simple to do app" name="description"/>
    <title>To Do App</title>
</head>
<body>
<h1>Done Items</h1>
<div id="doneItems"></div>
<h1>To Do Items</h1>
<div id="pendingItems"></div>
<label for="name">Item Name:</label>
<input id="name" placeholder="create to do item" type="text">
<button id="create-button" value="Send">Create</button>
</body>
<script type="text/javascript">
    "use strict";
    {{JAVASCRIPT}}
</script>
</html>